*{
	box-sizing: border-box;
}
body{
	background-color: #556B2F;
}
h1{
	text-align: center;
	font-size: 45px;
	margin-bottom: 30px;
	font-family: cursive;
}
.row{
	width:100%;
}
.content{
	border:1px solid black;
	overflow:auto;
	position: relative;
	background-color: gray; 
	margin:10px;
	font-family: cursive;
	padding:30px 15px 15px 15px;

}
.p1{
background-color: green;
}
.p2{
background-color: brown;
}
.p3{
background-color: orange;
}
#title{
	position: absolute;
	top:0px;
	right: 0px;
	font-family: cursive;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	float: right;
	margin-left: 30px;
	width: 100px;
	font-size: 25px;
}
@media (min-width: 992px) {
  .col-lg-3{
    float: left;

  }
  
  .col-lg-3 {
    width: 33.33%;
  }
  
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12{
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

}
@media (max-width: 767px){
.col-sm-12{
	 float: left;
}
.col-sm-12{
	width: 100%;
}
}